body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, white, yellow);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

.title {
    margin-bottom: 10px;
}


.display-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.keys {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 80vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    gap: 2px;
   
}

.keys > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid black;
    outline: none; 
    background-color: #787878;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.display-grid > button:hover {
    background-color: #888888;

}

.span-two {
    grid-column: span 2;
}

.output {
    
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    width: 408px;
    padding: 10px;
    font-size: 2rem;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif    ;
    background-color: #787878;
    border: 1px solid black;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    font-size: 1.25rem;
    margin-bottom: 7px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    padding: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
}

.gitimage {
    height: 20px;
    width: 20px;
    background-color: lightskyblue;
}